In [1]:
#HIDE
try:
    import setup
except:
    pass
from notebook_helper import *
notebook_setup()
from modules.la import get_la_df, get_la_with_leagues

In [2]:
df = get_la_with_leagues()

# Region and authority type

This notebook describes and creates the lookups by league for region and authority type.

## How many councils in each league?

In [3]:
(df
.pivot_table("local-authority-code", index="league-group" ,aggfunc="count")
.rename_axis(None, axis='columns')
.rename_axis("League Group", axis='rows')
.rename(columns={"local-authority-code": "Councils"})
.sort_values("Councils")
.reset_index()
.style.hide_index()
)

## How many councils are in each region in each league?

In [4]:
(df
.pivot_table("local-authority-code", index="region", columns="league-group",aggfunc="count")
.fillna(0)
.astype(int)
.rename_axis(None, axis='columns')
.rename_axis("Region", axis='rows')
.reset_index()
.style.hide_index())

Analysis: No single league contains all regions. All leagues except Northern Ireland contain multiple regions.

## How many council types are in each region in each league?

In [5]:
(df
.pivot_table("local-authority-code", index="local-authority-type-name", columns="league-group",aggfunc="count")
.fillna(0)
.astype(int)
.rename_axis(None, axis='columns')
.rename_axis("Authority type", axis='rows')
.reset_index()
.style.hide_index())

Analysis: The single tier and combined/stragic authorities both contain multiple authority types and should use an extra filter.

In [6]:
# export this data
cols = ["local-authority-code","official-name", "league-group", "region", "local-authority-type-name"]
df[cols].to_csv(Path("data", "outputs", "region_type.csv"), index=False)