In [1]:
#HIDE
try:
    import setup
except:
    pass
from notebook_helper import *
from modules.la import get_la_with_leagues
notebook_setup()

# Filter progress review

The following tables show the labels and number of councils in each label for each of the filter groups.

In [2]:
ldf = get_la_with_leagues().set_index("local-authority-code")[["official-name", "league-group"]]

## Rural Urban Categories

Rural/Urban categories exist for 3 of 5 leagues.

In [3]:
df = pd.read_csv(Path("data", "outputs", "ruc_cluster.csv")).set_index("local-authority-code")
df = ldf.join(df)

df.pivot_table("official-name", index="ruc_cluster", columns="league-group", aggfunc="count").fillna(0).astype(int)

league-group            District councils  Northern Ireland  Single tier
ruc_cluster
Rural                                  39                 0           11
Sparse and rural                       10                 5           14
Urban                                  64                 1          123
Urban with rural areas                 68                 5           34

## Political control

Present for 3 of 5 leagues.

In [4]:
df = pd.read_csv(Path("data", "outputs", "political_control.csv")).set_index("local-authority-code")[["political_control"]]
df = ldf.join(df)

df.pivot_table("official-name", index="political_control", columns="league-group", aggfunc="count").fillna(0).astype(int)

league-group        County councils  District councils  Single tier
political_control
Coalition/Minority                3                 49           71
Conservative                     21                 89           33
Independent                       0                  4            7
Labour                            0                 18           66
Liberal Democrat                  0                 21            4
Plaid Cymru                       0                  0            1

# Region

Info avaliable for all leagues.

In [5]:
df = pd.read_csv(Path("data", "outputs", "region_type.csv")).set_index("local-authority-code")[["region"]]
df = ldf.join(df)

df.pivot_table("official-name", index="region", columns="league-group", aggfunc="count").fillna(0).astype(int)

league-group,Combined/strategic authorities,County councils,District councils,Northern Ireland,Single tier
region,,,,,
East,1,0,0,0,0
East Midlands,0,2,29,0,6
East of England,0,5,39,0,6
London,1,0,0,0,33
North East,3,0,0,0,12
North West,2,2,18,0,21
Northern Ireland,0,0,0,11,0
Scotland,0,0,0,0,32
South East,0,6,51,0,13
South West,1,3,18,0,12
Wales,0,0,0,0,22
West Midlands,1,4,19,0,11
Yorkshire and The Humber,2,2,7,0,14

# Council type

Avaliable for all, but only useful for Combined authorities and Single tier.

In [6]:
df = pd.read_csv(Path("data", "outputs", "region_type.csv")).set_index("local-authority-code")[["local-authority-type-name"]]
df = ldf.join(df)

df.pivot_table("official-name", index="local-authority-type-name", columns="league-group", aggfunc="count").fillna(0).astype(int)

league-group,Combined/strategic authorities,County councils,District councils,Northern Ireland,Single tier
local-authority-type-name,,,,,
City corporation,0,0,0,0,1
Combined authority,10,0,0,0,0
County,0,24,0,0,0
London borough,0,0,0,0,32
Metropolitan district,0,0,0,0,36
NI district,0,0,0,11,0
Non-metropolitan district,0,0,181,0,0
Scottish unitary authority,0,0,0,0,32
Strategic Regional Authority,1,0,0,0,0
Unitary authority,0,0,0,0,59
Welsh unitary authority,0,0,0,0,22

# Population size

Here we have different bucket sizes for three different leagues.

In [7]:

df = pd.read_csv(Path("data", "outputs", "pop_buckets.csv")).set_index("local-authority-code")[["pop_bucket"]]
df = ldf.join(df)

for l, g in df.groupby("league-group"):
    pt = g.pivot_table("official-name", index="pop_bucket", columns="league-group", aggfunc="count").fillna(0).astype(int)
    if len(pt):
        display(md(f"## {l}"))
        display(pt)

## County councils

league-group  County councils
pop_bucket
1m +                        6
800k - 1m                   6
under 800k                 12

## District councils

league-group  District councils
pop_bucket
110k - 120k                  28
120k - 130k                  29
140k - 160k                  35
170k - 250k                  12
50k - 80k                    19
80k - 90k                    29
90k - 100k                   29

## Single tier

league-group  Single tier
pop_bucket
0k - 140k              42
140k - 210k            42
210k - 290k            42
290k - 410k            42
440k - 640k            12
800k - 1140k            2

## Multiple deprivation

Here there are two possible approaches. A single combined ranking, where all lower tier authorites are spread over five quintiles, and a split ranking, where district and single tier councils are split over different sets of quintiles. Undecided as to best approach, discussion in [relevant notebook](notebooks/imd.ipynb).

Basically the split tier gives more equal groups, but means that the Lowest quintile in both leagues represents different levels of deprivation (as in general, district councils areas are less deprived.)

In [8]:
df = pd.read_csv(Path("data", "outputs", "imd_joint_ranking.csv")).set_index("local-authority-code")[["la_imd_pop_quintile"]]
df = ldf.join(df)

df.pivot_table("official-name", index="la_imd_pop_quintile", columns="league-group", aggfunc="count").fillna(0).astype(int)

league-group         District councils  Single tier
la_imd_pop_quintile
1.0                                 11           44
2.0                                 10           42
3.0                                 39           42
4.0                                 45           32
5.0                                 76           22

In [9]:
df = pd.read_csv(Path("data", "outputs", "imd_split_ranking.csv")).set_index("local-authority-code")[["la_imd_pop_quintile"]]
df = ldf.join(df)

df.pivot_table("official-name", index="la_imd_pop_quintile", columns="league-group", aggfunc="count").fillna(0).astype(int)

league-group         District councils  Single tier
la_imd_pop_quintile
1.0                                 37           31
2.0                                 37           34
3.0                                 36           34
4.0                                 35           41
5.0                                 36           42

# Council budget

Have decided not to create this for the moment, see comments in [accounts.ipynb](notebooks/accounts.ipynb)